dein
tags*
.netrwhist
pythonpath.vim/
nodepath.vim/
pythonpath.vim
nodepath.vim
autoload/plugged/*
vimspector-config/gadgets/*
paths.vim
paths.vim/
session/
wiki/
pack/
utils/java/*
utils/lombok.jar

LunarVim/
ls/
plugin/
lua-language-server/
plugin/
chris-lsp/
remove.lua
